<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Pregunte por el producto que busca </p>
    <%= form.collection_select(:product_id, Product.all, :id, :name, { include_blank: "¿Cuanto cuesta?" }, { class: "form-select" }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <p class="notice"><%= notice %></p>
<% end %>
